<!--
  Esta tela foi utilizada para testar as seguintes diretivas:
    - cronapp-security
    - valid
    - as-date
    - ui-select
-->
<div class="container">
  <h3>Cliente</h3>

  <div id="crn-form-form-Cliente">
    <div class="form">
      <form name="myForm" class="" ngNativeValidate>
        <div class="active-bar">
          <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-ok"></i></button>
          <button class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i></button>
        </div>

        <br/>

        <fieldset>
          <div id="crn-textinput-nome" class="col-md-12">
            <div class="form-group">
              <label for="textinput-nome" class="">Nome</label>
              <input
                  type="text"
                  class="form-control"
                  id="textinput-nome"
                  placeholder="Nome"
                  name="nome"
                  cron-security="enabled : Administrators">
            </div>
          </div>

          <div class="col-md-6" data-component="crn-combobox" id="crn-combobox-249449">
            <div class="form-group">
              <label for="lista">Ramo Atividade</label>
              <ui-select
                  crn-datasource="[{'key': 1,'value':'VAREJO'},{'key': 2,'value':'ATACADO'},{'key': 3,'value':'SERVIÇO'}]"
                  [(ngModel)]="ramoAtividadeModel"
                  ng-required="false"
                  ng-disabled="disabled"
                  class="crn-select"
                  id="ramoAtividade"
                  name="ramoAtividade"
                  #ramoAtividade>
                <ui-select-match placeholder="Select..." class="">

                </ui-select-match>
                <ui-select-choices repeat="rowData.key as rowData in datasource.data | filter: $select.search" class="">
                  <div class=""></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <div id="crn-combo-box" class="col-md-6">
            <div class="form-group">
              <label for="textinput-ramo2" class="">Valida ComboBox</label>
              <input
                  type="text"
                  class="form-control"
                  id="textinput-ramo2"
                  name="nome"
                  [(ngModel)]="ramoAtividadeModel">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="cadastro" class="">Cadastro</label>
              <input class="form-control"
                   type="date"
                   mask="DD/MM/YYYY HH:mm:ss"
                   id="cadastro"
                   name="cadastro"
                   [(ngModel)]="cadastroModel"
                   #cadastro/>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label for="nascimento2" class="">Cadastro 2</label>
              <input class="form-control"
                   type="text"
                   mask=""
                   id="cadastro2"
                   name="cadastro2"
                   [(ngModel)]="cadastroModel"/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="nascimento" class="">Nascimento</label>
              <input class="form-control"
                     type="date"
                     cron-as-date="DD/MM/YYYY HH:mm:ss"
                     id="nascimento"
                     name="nascimento"
                     [(ngModel)]="nascimentoModel"
                     #nascimento/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="nascimento2" class="">Nascimento 2</label>
              <input class="form-control"
                     type="text"
                     mask=""
                     id="nascimento2"
                     name="nascimento2"
                     [(ngModel)]="nascimentoModel"/>
            </div>
          </div>

          <div id="crn-textinput-cpf" class="col-md-12">
            <div class="form-group">
              <label for="cpf" class="">CPF</label>
              <input
                type="text"
                class="form-control"
                id="cpf"
                placeholder="CPF"
                name="cpf"
                cron-valid="cpf"
                data-error-message="CPF Inválido."
                [(ngModel)]="cpfText"
                #cpf="ngModel">
            </div>
            <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"
                 class="alert alert-danger">
              <div *ngIf="cpf.errors.valid">
                CPF Invalid
              </div>
            </div>
          </div>

          <div id="crn-textinput-cnpj" class="col-md-12">
            <div class="form-group">
              <label for="cnpj" class="">CNPJ</label>
              <input
                type="text"
                class="form-control"
                id="cnpj"
                placeholder="CNPJ"
                name="cnpj"
                valid="cnpj"
                data-error-message="CNPJ Inválido TESTE."
                [(ngModel)]="cnpjText"
                #cnpj="ngModel">
            </div>
            <div *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)"
                 class="alert alert-danger">
              <div *ngIf="cnpj.errors.valid">
                CNPJ Invalid
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>